{% extends "mainapp/layout.html" %}

{% block title %}📫 動畫追蹤{% endblock %}

{% block content %}

<div style="text-align: right; margin-bottom: 10px;">
    <form method="POST" action="{% url 'update_anime' %}" style="text-align: right;">
      {% csrf_token %}
      <button type="submit" style="background-color:#ffcc00; padding:6px 12px; border-radius:5px; font-weight:bold;">
        🛠 更新資料
      </button>
    </form>
    
<h1 style="text-align:center; font-size: 2rem; line-height: 1.5; margin-bottom: 20px;">
  🐲～〰～〰～≡ 巴哈動畫瘋更新
</h1>


<div class="grid">
  {% for anime in anime_list %}
  <div class="anime-card"  style="text-align: center;">
    <img src="{{ anime.image_url }}" alt="{{ anime.title }}">
    <h3>{{ anime.title }}</h3>
    <p>🆕 {{ anime.episode }}</p>
    <p>👁️ {{ anime.view_count }}</p>
    <a href="{{ anime.url }}" target="_blank">▶ 觀看動畫</a>
  </div>
  {% endfor %}
</div>


{% endblock %}
